
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sharding Demo</title>
		<script src="/script.js" defer></script>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body style="font-family: sans-serif; max-width: 600px; margin: auto;">
		<h1>Sharding Demo</h1>

		<form id="post-form">
			<label>User ID: <input type="number" id="userId" required /></label><br />
			<label>Contenido: <input type="text" id="content" required /></label><br />
			<button type="submit">Crear Post</button>
		</form>

		<hr />

		<form id="get-form">
			<label>User ID: <input type="number" id="queryUserId" required /></label>
			<button type="submit">Consultar Posts</button>
		</form>

		<div id="result" style="margin-top: 20px;"></div>


		<hr />

		<button id="load-btn">Simular 100 posts aleatorios</button>

		<hr />

		<button id="count-btn">Ver distribución por shard</button>
		<div id="shard-stats" style="margin-top: 15px;"></div>
	</body>
</html>